.jp-metadata-window {
  background: var(--jp-layout-color1);
  height: 100%;
}

.jp-metadata-explorer-window {
  display: flex;
  flex-direction: row;
  background: var(--jp-layout-color1);
  height: 100%;
  width: 100%;
}

.jp-metadata-explorer-dataset {
  width: 50%;
}

.jp-metadata-explorer-details {
  width: 50%;
  border-left: 1px solid var(--jp-border-color1);
}

.jp-metadata-explorer- .jp-metadata-body-value-link {
  color: #1976d2;
}

.jp-metadata-body-value-link:hover {
  color: #1976d2;
  text-decoration-line: underline;
}
